@media (min-width: 786px) and (max-width: 1024px) {
  nav ul {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    justify-items: center;
  }

  .header__wrapper {
    gap: 10px;
  }

  .header__nav .logo,
  .header__nav .search {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header__wrapper .button-link {
    width: 250px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  .benefits-list {
    flex-wrap: wrap;
  }
  .checkup-benefits .benefit-item {
    width: 300px;
    min-height: 250px;
  }
  .center {
    margin: 0 auto;
  }
  .banner .button-link {
    margin-left: 20px;
  }
  .checkup-layout {
    align-items: center;
  }

  .checkup-details img {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 100px;
  }
  .checkup-info-column h3 {
    margin-top: 20px;
  }
  .package-details {
    background: none;
    box-shadow: none;
  }
}
