@media (min-width: 1024px) and (max-width: 1440px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    width: 100%;
    margin: 20px 0px;
  }

  .logo {
    flex: 1;
  }

  .search__form {
    flex: 1;
    max-width: 250px;
  }

  .button-link {
    flex: 1;
    max-width: 250px;
    margin-left: 0px;
  }
  .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner h1,
  .banner p {
    padding-left: 20px;
  }
  .banner .button-link {
    flex: none;
    margin-left: 20px;
  }
  .checkup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }
  .checkup-list {
    gap: 100px;
  }
  .checkup-details img {
    width: 100%;
    margin: 0;
  }
  .checkup header {
    text-align: center;
  }
  nav[aria-label="Перемикач пакета"] ul {
    position: absolute;
    justify-content: space-around;
    align-items: center;
    top: 35px;
    left: 45%;
  }
  .package-details {
    margin-top: 5rem;
    background: none;
    box-shadow: none;
  }
}
