@media (min-width: 1024px) and (max-width: 1440px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    width: 100%;
    margin: 20px 0px;
  }

  .logo {
    flex: 1;
  }

  .search__form {
    flex: 1;
    max-width: 250px;
  }

  .button-link {
    flex: 1;
    max-width: 250px;
    margin-left: 0px;
  }
  .banner,
  .banner h1,
  .banner p {
    padding-left: 20px;
  }
  .banner .button-link {
    margin-left: 20px;
  }
}
